node_modules/
dist/
build/
.env
.next
.DS_Store
*.log
.idea/
.vscode/
coverage/
*.tsbuildinfo
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz

# Ignore all files in the public directory except for index.html
/public/*
!/public/index.html
# Ignore all files in the src directory except for .ts and .tsx files
/src/*
!/src/**/*.ts
!/src/**/*.tsx

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
dist/
build/
*.egg
*.whl
*.log
scripts/

ai/data/raw/
ai/datasets/

frontend/.next